pkgbase = cadr-fonts-git
	pkgdesc = Unicode-encoded MIT CADR bitmap fonts
	pkgver = r1.g0000000
	pkgrel = 1
	url = https://github.com/htayj/CADR-fonts
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = python
	makedepends = xorg-fonttosfnt
	options = !strip
	source = CADR-fonts::git+https://github.com/htayj/CADR-fonts.git
	source = mit-cadr-system-software::git+https://github.com/mietek/mit-cadr-system-software.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = cadr-fonts-latin-git
	pkgdesc = Unicode-encoded MIT CADR fonts containing Latin letters (VCS)
	depends = fontconfig
	provides = cadr-fonts-latin=r1.g0000000
	conflicts = cadr-fonts-latin
	backup = etc/fonts/conf.d/75-cadr-fonts-latin.conf

pkgname = cadr-fonts-symbols-git
	pkgdesc = Unicode-encoded MIT CADR symbol and drawing fonts (VCS)
	depends = fontconfig
	provides = cadr-fonts-symbols=r1.g0000000
	conflicts = cadr-fonts-symbols
	backup = etc/fonts/conf.d/75-cadr-fonts-symbols.conf
